{% load static %}

<!-- Footer Section Start -->
<footer class="footer-wrap">
    <div class="container">
        <div class="row pt-100 pb-75">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <a href="/" class="footer-logo">
                        <img src="{% static 'assets/img/no.png' %}"" alt="Image">
                    </a>
                    <ul class="contact-info list-style">
                        <li>
                            <ion-icon name="location"></ion-icon>
                            <h6>Location</h6>
                            <p>2976 sunrise road las vegas</p>
                        </li>
                        <li>
                            <ion-icon name="mail"></ion-icon>
                            <h6>Email</h6>
                            <a href="/cdn-cgi/l/email-protection#741c1118181b34191b001b0e5a171b19"><span
                                    class="__cf_email__"
                                    data-cfemail="93fbf6fffffcd3fefce7fce9bdf0fcfe">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <ion-icon name="call"></ion-icon>
                            <h6>Phone</h6>
                            <a href="tel:098765432150">098765432150</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Customer Links</h3>
                    <ul class="footer-menu list-style">
                        <li>
                            <a href="blog-right-sidebar.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Latest News
                            </a>
                        </li>
                        <li>
                            <a href="inventory.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Inventory
                            </a>
                        </li>
                        <li>
                            <a href="testimonials.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Testimonials
                            </a>
                        </li>

                        <li>
                            <a href="shop.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Our Shop
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Quick Links</h3>
                    <ul class="footer-menu list-style">
                        <li>
                            <a href="dealers.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Our Dealers
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                <i class="ri-arrow-right-s-line"></i>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="terms-of-service.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Terms Of Use
                            </a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                <i class="ri-arrow-right-s-line"></i>
                                Why Choose
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Newsletter Signup</h3>
                    <p>Subscribe Our Newsletter To Get Our Latest Update & News!</p>
                    <form action="#" class="newsletter-form">
                        <div class="form-group">
                            <input type="email" placeholder="Enter Email Address">
                            <button type="submit"><ion-icon name="paper-plane-outline"></ion-icon></button>
                        </div>
                    </form>
                    <div class="social-link">
                        <h6>Follow Us :</h6>
                        <ul class="social-profile style1 list-style">
                            <li>
                                <a href="https://facebook.com">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright-text"><i class="ri-copyright-line"></i><span>Motoz</span> is proudly owned by <a
            href="https://hibotheme.com/">HiboTheme</a></p>
</footer>
<!-- Footer Section End -->

